.padding {
    padding-left: 45px;
    padding-right: 45px;
}
.logo {
    background-color: white;
    padding: 2px;
    text-align: center;
    margin-bottom: 2px;
}

.search {
    background-color: #eeeeee;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.box1 {
    width: 37%;
    height: 20mm;
    background-color: #7ee5da;
    padding: 5px;
    margin: 2px;
    float: left;
}

.box2 {
    width: 20%;
    height: 20mm;
    background-color:#70ccc2;
    padding: 5px;
    margin: 2px;
    float: left;
}

.box3 {
    width: 38%;
    height: 20mm;
    background-color: #62b3aa;
    padding: 5px;
    margin: 2px;
    box-align: right;
    float: left;
}

.licence {
    background-color: white;
    text-align: center;
    font-size: small;
}

.article {
    background-color: white;
    margin-bottom: 2px;
    padding: 2px;
    text-align: center;
}